

<!-- Begin contact -->
<div class="container-fluid contact-height contact-info">
   <div class="container" id="contact">
    <h2 class="text-center">Contact us</h2>
    <br/>
    <div class="row">
        
        <!-- Use Rails app for updating contacts -->
        
        <div class="col-md-6">
            <%= form_for @welcome do |f| %>
                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: "form-control" %>
                </div>    
                    
                <div class="form-group">                    
                    <%= f.label :email %>
                    <%= f.email_field :email, class: "form-control" %>
                </div>    
                    
                <div class="form-group">                    
                    <%= f.label :message %>
                    <%= f.text_area :message, class: "form-control" %>
                </div>    
                <%= f.submit "Submit", class: "btn btn-primary" %>
                
            <% end %>    
                
        </div>    
        
        
        <!-- end section for mailer form -->
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <h4>BBJIS ENGINEERING SERVICES</h4>
            <p>
              Zone Okra, Paknaan, Mandaue City 6014, Philippines <br>
              Tel No. +6332 - 420-0342 - Cel.No. 0943-0565642 / 0916-6024218<br>
              E-mail Add : ecurb09.bbjis@gmail.com
            </p>
        </div>
    </div> 
    </div>
</div>    
   
    
    
    
    
