<!-- Begin contact -->
<div class="container-fluid contact-height contact-info">
   <div class="container" id="contact">
    <h2 class="text-center">Contact us</h2>
    <br/>
    <div class="row">
        
        <!-- Use Rails app for updating contacts -->
        
        <div class="col-md-6">
           
            
            <!-- begin form -->
            
            <%= form_for @contact do |f| %>
                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: "form-control" %>
                </div>    
                    
                <div class="form-group">                    
                    <%= f.label :email %>
                    <%= f.email_field :email, class: "form-control" %>
                </div>    
                    
                <div class="form-group">                    
                    <%= f.label :message %>
                    <%= f.text_area :comments, class: "form-control" %>
                </div>    
                <%= f.submit "Submit", class: "btn btn-primary" %>
                
            <% end %>
            
            <br />
            
            <% flash.each do |key, value| %>
                <%= content_tag :div, value, class: "alert alert-#{key}" %>
            <% end %>
                
        </div>    
        
        
        <!-- end section for mailer form -->
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <h4>BBJIS ENGINEERING SERVICES</h4><br/>
            <table>  
                <tr>
                    <td><i class="fa fa-map-marker" aria-hidden="true"></i></td> 
                    <td class="indent-left"> Zone Okra, Paknaan, Mandaue City 6014, Philippines</td>
                </tr>
                
                <tr>
                    <td><i class="fa fa-phone-square" aria-hidden="true"></i></td> 
                    <td class="indent-left">+6332-420-0342 / 0943-0565642 / 0916-6024218</td>
                </tr>
                
                <tr>
                    <td><i class="fa fa-envelope" aria-hidden="true"></i></td> 
                    <td class="indent-left">ecurb09.bbjis@gmail.com</td>
                </tr>
            </table>
        </div>
    </div> 
    </div>
</div>    
   
    
    
    
    
