<!DOCTYPE html>
<html>
  <head>
    <title>bbjis</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'bbjis_favico.ico' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
     
  </head>

  <body>
    <!-- Nav-bar -->
 <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <%= link_to "BBJIS", root_path, class: "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "Home", root_path %></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#service">Services</a></li>
            </li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <!-- end nav -->    
    
     <!-- Carousel Begin -->    
    
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag("2.jpg", :class => "full") %>
          <div class="carousel-caption fade-scroll">
              <h2 class="#">QUALITY</h2>
             
          </div>
        </div>
        <div class="item">
          <%= image_tag("3.jpg", :class => "full")%>
          <div class="carousel-caption fade-scroll">
              <h2 class="#">SPEED</h2>
             
          </div>
        </div>
        <div class="item">
          <%= image_tag("1.jpg", :class => "full") %>
          <div class="carousel-caption  fade-scroll">
              <h2 class="#">EFFICIENCY</h2>
              
          </div>
        </div>
      </div>

      
<!--TEST SCRIPT FOR DIV FADING BY SCROLL -->      
      <script>
          $(window).scroll(function () {
              var scrollTop = $(window).scrollTop();
              var height = $(window).height();
              $('.fade-scroll').css({
                  'opacity': (((height - scrollTop) / height) - 0.1)
              });
             
          
          });
      </script>
      
      <script>
          $('a[href*="#"]:not([href="#"])').click(function() {
               if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                   var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                      $('html, body').animate({
                      scrollTop: target.offset().top
                       }, 1000);
                    return false;
                        }
               }
        });
      </script>
      
      

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- Carousel End -->


    
    
    <!-- CONTENT MAINS-->

<!-- ABOUT -->    
<div class="container-fluid">
  
    <div class="bbjis" id="about">
    </div>
    <div class="row"> 
      <h2 class="text-center d-bold">Who we are</h2>
      
      <p class="text-center ital d-bold">“ Our experience of working together has continued through <br/> a combined effort 
      to provide our mutual Client <br/> with a first class service throughout .“</p>
    </div>      
    <br />      
    <br />
    <div class="container">
       <div class="row">
         
         <div class="col-sm-6">
           <table>
             <tr>
               <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
               <td class="td-padding"><p>We have some of the most talented and technically advanced team 
               members in the industry and our client see that. All team members are encouraged to ask questions, 
               make recommendations and continuously improve system and techniques. </p></td>
             </tr> 
           </table>
         </div>
         <div class="col-sm-6">
           <table>
             <tr>
               <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
               <td class="td-padding"><p>A full service engineering & consulting firm that
               first opened its doors in 2015 June 08, BBJIS located at Zone Okra,Paknaan, 
               Mandaue City. The company is a Construction & Engineering Company 
               engaged in the design, supply, installation, testing and commissioning of 
               mechanical & electrical system. </p></td>
             </tr> 
           </table> 
         </div>
         
       </div>
       <br />
       <div class="row">
         
         <div class="col-sm-6">
            <table>
             <tr>
               <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
               <td class="td-padding"><p>BBJIS caters construction works, architectural and steel －fabrication.
               We have a team of well qualified and hands-on experienced engineers with many years of field 
               experience to provide fast response and cost effective solutions to our customer’s needs.</p></td>
             </tr> 
           </table> 
         </div>
         <div class="col-sm-6">
            <table>
             <tr>
               <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
               <td class="td-padding"><p>We generate positive relationships with 
               our clients, staff and subcontractors by ensuring an enjoyable experience
               is had by all throughout the course of our projects.  </p></td>
             </tr> 
           </table> 
         </div>
         
       </div>   
    </div>    
</div>
 <hr />
</div>

    
<!-- SERVICES -->
<div class="container-fluid scrolling-bg-effect" id="service">
    <div class="text-center services-margin" id="services">
        <h2 class="service-font" > Services Offered</h2>
   
       <br />
       <br />
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          View here
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Services</h3>
              </div>
              <div class="modal-body">
                   <div class="text-left">
               
                        <h4>Civil Works and Interior Design</h4> 
                        <ul>
                            <li>Ceiling and walling partition</li>
                            <li>Comfort Room Rehabilitation and Renovation</li>
                            <li>Perimeter Fence and Rip-rapping</li>
                            <li>Road Concreting</li>
                            <li>Drainage System</li>
                            <li>Tilling Works</li>
                            <li>Roofing Installation</li>
                            <li>Wall Aluminum cladding installation</li>
                            <li>Plumbing System Works</li>
                            <li>Painting Works</li>
                        </ul>
                 
                        <h4>Mechanical Works</h4>
                        <ul>
                            <li>G.I, B.I, STAINLESS AND ABS Piping System</li>
                            <li>PPR Piping</li>
                            <li>Cooling Tower Installation</li>
                            <li>Airline and Steamline Piping  Installation</li>
                            <li>Blower & Exhaust Installation</li>
                            <li>Erection & Rigging of Equipments            </li>
                            <li>Installation & Fabrication of Stainless & Ms Plate Tank</li>
                            <li>Installation of Stainless Railings, Windows Grills, Gates, Kitchen Area </li>
                            <li>Aluminum & Glass Materials Installation  </li>
                            <li>Fire Hydrant System</li>
                            <li>Motor Rewinding</li>
                        </ul>
                  
                        <h4>Electrical Works</h4>
                        <ul>
                            <li>General lightings </li>
                            <li>Buiding wiring systems</li>
                            <li>Supply and Installation of panel boards</li>
                            <li>Supply and Installation of Power Control Systems </li>
                            <li>Airconditioning system</li>
                            <li>Generator set wiring works</li>
                            <li>Testing of transformer</li>
                            <li>Emergency lights/safety and exit lights</li>
                            <li>CCTV Camera systems</li>
                            <li>Alarm Systems (Fire, Burglar, Etc)</li>
                        </ul>
                    </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- modal -->
    </div>
</div>
<!-- end -->

    <%= yield %>
    
  <!-- FOOTER -->    
<div class="container-fluid footer">
    <div class="row">
        <div class="col-sm-4">
            <p>Copyright 2016</p>
        </div>
        <div class="col-sm-4">
            <p>Need a site like this? </p>
            <p>Contact me at clintvencor@gmail.com</p>
        </div>
        <div class="col-sm-4">
            <p>Created by: Kristopher Clint P. Despi</p> <p>-Ruby on Rails Developer</p>
        </div>
    </div>
 </div>
  </body>
</html>
